* {
    font-family: Arial, Helvetica, sans-serif;
}

.completed {
    color: lightgray !important;
    text-decoration: line-through;
}

.completedArrow {
    color: lightgray !important;
}

.remove {
    color: black;
    position: relative;
    top: 0px;
    left: 1079px;
}
.remove:hover {
  color: lightcoral;
}

.complete {
    color: black;
    position: relative;
    top: 20px;
    left: 1060px;
}

.complete:hover {
    color: lightgreen;
}
