* {
    font-family: Arial, Helvetica, sans-serif;
}

.completed {
    color: lightgray !important;
    text-decoration: line-through;
}

.remove {
    color: black;
}
.remove:hover {
  color: lightslategray;
}

